*~
*.o
*.so
*.user
*.project
software/arm/*/*.cogui
software/arm/*/*.comarker
software/arm/build
software/bin/
/software/pc/logs/
/software/pc/config/local.ini
.classpath
.cproject
.settings
project.properties
hardware/*/*.b\#*
hardware/*/*.s\#*
hardware/*/*.epf
*.class
/bin/
/Debug/
.metadata/
.recommenders/
